.popup__input-error {
    display: block;
    min-height: 30px;
    padding-top: 5px;
    color: #FF0000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}