.popup__show-container {
  max-width: 282px;
  /*height: 322px;*/
  margin: 90px auto;
  position: relative;
  display: block;
}

@media (min-width: 376px) {
  .popup__show-container {
    margin: 90px auto;
    max-width: 75vw;
    max-height: 75vh;
  }
}
