.gallery__caption {
  box-sizing: border-box;
  margin: 0;
  padding-right: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .gallery__caption {
    max-width: 282px;
  }
}