.gallery__like {
  all: unset;
  min-width: 22px;
  min-height: 20px;
  display: block;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__like:hover {
  opacity: .6;
  cursor: pointer;
}