.gallery__article {
  margin: 20px 19px 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@media (min-width: 768px) {
  .gallery__article {
    margin: 0;
  }
}