.profile__name {
  max-width: 250px;
  width: 100%;
  margin: 0;
  padding-left: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .profile__name {
    max-width: 350px;
    padding-left: 0;
    font-size: 42px;
    line-height: 114%;
  }
}