.profile__description {
  margin: 14px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .profile__description {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}