.gallery__place-name {
  margin: 0 0 0 21px;
  padding: 18px 0 29px;
  min-width: 219px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}