.popup__text {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 0 13px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb (0, 0, 0, .2);
  border-left: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}